@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-illusion-blue: #451BAF;
}

html,
body {
  @apply bg-white dark:bg-illusion-blue;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
